In [1]:
#Requests allows you to send HTTP/1.1 requests
import requests

In [6]:
#ping a website and return you HTML of the website
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_Asian_countries_by_area').text

**We begin by reading the source code for a given web page and creating a BeautifulSoup (soup)object with the BeautifulSoup function**
**rettify() function in BeautifulSoup will enable us to view how the tags are nested in the document.**

In [14]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
#print(soup.prettify())

In [15]:
My_table = soup.find('table',{'class':'wikitable sortable'})
#My_table

In [16]:
links=My_table.find_all('a')
#links

In [12]:
Countries=[]
for link in links:
    Countries.append(link.get('title'))
    
print(Countries)

['Russia', 'European Russia', None, 'China', 'Hong Kong', 'Macau', 'India', 'Kazakhstan', 'Saudi Arabia', 'Iran', 'Mongolia', 'Indonesia', 'Pakistan', 'Turkey', 'Myanmar', 'Afghanistan', 'Yemen', 'Thailand', 'Turkmenistan', 'Uzbekistan', 'Iraq', 'Japan', 'Vietnam', 'Malaysia', 'Oman', 'Philippines', 'Laos', 'Kyrgyzstan', 'Syria', 'Golan Heights', 'Cambodia', 'Bangladesh', 'Nepal', 'Tajikistan', 'North Korea', 'South Korea', 'Jordan', 'Azerbaijan', 'Caucasus', 'Europe', 'Asia', 'United Arab Emirates', 'Georgia (country)', 'Caucasus', 'Europe', 'Asia', 'Sri Lanka', 'Bhutan', 'Taiwan', 'Armenia', 'Caucasus', 'Europe', 'Asia', 'Israel', 'Kuwait', 'East Timor', 'Qatar', 'Lebanon', 'Cyprus', 'Northern Cyprus', 'State of Palestine', 'Brunei', 'Bahrain', 'Singapore', 'Maldives']

In [13]:
import pandas as pd
df=pd.DataFrame()
df['Country']=Countries
df

               Country
0               Russia
1      European Russia
2                 None
3                China
4            Hong Kong
..                 ...
60  State of Palestine
61              Brunei
62             Bahrain
63           Singapore
64            Maldives

[65 rows x 1 columns]